.bottom-navbar {
    background-color: #a4cd90;
    padding: 2rem;
    font-family: 'Karla', sans-serif;
    color: #482711bf;
    font-size: 1rem;
}

.bottom-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.shop-info {
    max-width: 500px;
}

.shop-info a {
    color: #482711bf;
    text-decoration: none;
}

.shop-info a:hover {
    text-decoration: underline;
}

h2 {
    font-family: 'Kumar One', serif;
    font-size: 1rem;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 0.5rem;
}

.footer-links a {
    color: #482711bf;
    text-decoration: none;
}

.footer-links a:hover {
    color: #f6bcca;
}

.copyright {
    text-align: center;
    padding: 0.5rem 0;
    font-size: 1rem;
    background-color: #f6bcca;
    color: #482711bf;
    margin-top: 2rem;
    width: 100%;
}
