.contact-container {
    padding: 3rem 2rem;
    color: #482711;
    font-family: 'Karla', sans-serif;
    text-align: center;
}

.contact-title {
    font-family: 'Kumar One', serif;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}
