.product-form {
    max-width: 500px;
    margin: 0 auto 3rem;
    padding: 2rem;
    padding-right: 3rem;
    background-color: white;
    border: 4px solid #a9d197;
    border-radius: 8px;
    font-family: 'Karla', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-form h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.product-form label {
    display: block;
    margin-bottom: 0.25rem;
    color: #482711;
    font-weight: bold;
}

.product-form input,
.product-form select,
.product-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 1rem;
    border: 1px solid #482711;
    border-radius: 8px;
    font-size: 1rem;
   font-family: 'Karla', sans-serif;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

.save-btn {
  background-color: #56894f;
  color: white;
  font-size: 1rem;
  padding: 0.5rem;
  min-width: 5rem;
  border-radius: 8px;
  border: 4px solid transparent;
}

.save-btn:hover {
  background-color: #3d6b38 !important;
}

.cancel-btn {
  background-color: #d9777f;
  color: white;
  font-size: 1rem;
  padding: 0.5rem;
  min-width: 5rem;
  border-radius: 8px;
  border: 4px solid transparent;
}

.cancel-btn:hover {
    color: white;
    background-color: #c75b64 !important;
}
