body {
    margin: 0;
    font-family: 'Kumar One', serif !important;
    background:
    radial-gradient(ellipse at top, #F6BCCA, transparent),
    radial-gradient(ellipse at bottom, #ca6a7e, transparent);
    color: #482711;
}

@font-face {
    font-family: 'Kumar One';
    src: url('./assets/fonts/KumarOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'Karla', sans-serif;
    src: url('./assets/fonts/Karla-Italic-VariableFont_wght.ttf');
    font-weight: normal;
    font-size: normal;
}
